@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

html{
    overflow-y: scroll;
    @apply scrollbar-thin scrollbar-thumb-secondary h-screen overflow-auto;
}

td, th{
  @apply h-16 px-3;
}
